<mat-toolbar class="footer">
    <span>
        Desenvolvido com
        <i class="material-icons v-middle" appRed>
            favorite
        </i>
        por <strong>HDR <span class="red">UP</span></strong>
    </span>
</mat-toolbar>